<div class="footer {{class}}">
    <div class="container">
      <div class="left">
        <a href="https://mitsubishi.pl">
          <img src="{{ theme.link }}/dist/images/logo_mitsubishi_white.png" alt="">
        </a>
        © Copyright MMC Car Poland Sp. z o. o. 2019 Wszelkie prawa zastrzeżone
        <a href="https://www.mitsubishi.pl/polityka-prywatnosci" target="_blank">Polityka prywatności</a>
        <a href="https://www.mitsubishi.pl/nota-prawna" target="_blank">Nota prawna</a>
      </div>
      <div class="socials">
        {% for item in options.linki_do_social_mediow %}
        <a href="{{ item.link }}" class="single-social" target="_blank">
          <img src="{{ TimberImage(item.ikona).src | resize(0, 32) }}" alt="">
  
        </a>
        {% endfor %}
      </div>
    </div>
  </div>