<div class="image-text-wrapper {{section.uklad_elementow}}">
  <div class="text mobile-visible">
    {{section.tekst_mobile}}
  </div>
  <div class="image">
    {% if section.galeria|length < 2 %}
      {% for image in section.galeria %}
        <a style="cursor:default!important">
          <img src="{{TimberImage(image).src | resize(1000, 0)}}" alt="">
        </a>
      {% endfor %}
    {% else %}
      {% for image in section.galeria %}
        {% if loop.index == 1 %}
        {% set id = image.name %}
        <a href="{{TimberImage(image).src | resize(2000, 0)}}" data-lightbox="{{id}}" class="main-image">
          <span class="show_all">{{section.galeria_tekst}}</span>
          <img src="{{TimberImage(image).src | resize(1000, 0)}}" alt="">
          <div class="photo-counter">
            <img src="{{ theme.link }}/dist/images/camera.png" alt="">
            <span class="count">{{ section.galeria|length }}</span>
          </div>
        </a>
        {% else %}
        <a href="{{TimberImage(image).src | resize(2000, 0)}}" data-lightbox="{{id}}" style="display:none;">
          <img src="{{TimberImage(image).src | resize(1000, 0)}}" alt="">
        </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="text">
    {{section.tekst}}
    <div class="desktop-visible">
      {{section.tekst_mobile}}
    </div>
  </div>
</div>