<div class="images-wrapper has-{{section.galeria|length}}-columns">
  {% for image in section.galeria %}
    <div class="column">
      <img src="{{TimberImage(image).src | resize(1000, 0)}}" alt="">
    </div>
  {% endfor %}
</div>