<div class="posts-holder">
  {% for single in related %}
  <div class="single-post-container">
    {% if single.post_wylaczony %}
      <div class="single-post">
        <div class="bg-image" style="filter:grayscale(1)">
          <img src="{{ TimberImage(single.tlo).src | resize(650, 650) }}" alt="">
        </div>
        <div class="text">
          Historia wkrótce
        </div>
        <div class="layer-one-image" style="filter:grayscale(1)">
          <img src="{{ TimberImage(single.second_layer).src | resize(650, 0) }}" alt="">
        </div>
      </div>
    {% else %}
    <a class="single-post" href="{{single.link}}">
      <div class="bg-image">
        <img src="{{ TimberImage(single.tlo).src | resize(650, 650) }}" alt="">
      </div>
      <div class="text">
        {{single.tekst}}
      </div>
      <div class="layer-one-image">
        <img src="{{ TimberImage(single.second_layer).src | resize(650, 0) }}" alt="">
      </div>
    </a>
    {% endif %}
  </div>
  {% endfor %}
</div>