<div class="video">
  <div class="media-container">
    <div id="player"></div>

    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{section.link_yt}}?controls=0" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- <div class="play-button" data-state="pause">
      <img src="{{ theme.link }}/dist/images/play.png" alt="">
    </div> -->
    <div class="go-lower">
      <!-- <span>dowiedz się więcej</span> -->
      <img src="{{ theme.link }}/dist/images/arrow-down.png" alt="">
    </div>
  </div>
  <div class="go-lower">
    <!-- <span>dowiedz się więcej</span> -->
    <img src="{{ theme.link }}/dist/images/arrow-down.png" alt="">
  </div>
</div>