{% extends "/layouts/base.twig" %}



{% block content %}



<div class="intro-elements" data-equalizer>

  {% for item in post.get_field('slider') %}

  <div class="single-element">

    <div class="bg-image" data-0="transform:scale(1.1) translate(-0%, -0%);transform-origin:0 0;"
      data-1000="transform:scale(1.0) translate(-0%, -0%)" data-1200="transform:scale(1.0) translate(-0%, -5%)">

      <img src="{{TimberImage(item.tlo).src}}" alt="">

    </div>

    <div class="stage-one-layer" data-0="transform:scale(1) translate(-0%, -0%); transform-origin:50% 50%;"
      data-1000="transform:scale(1.19) translate(-0%, 15%);" data-1200="transform:scale(1.19) translate(-0%, -20%);">

      <img src="{{TimberImage(item.second_layer).src}}" alt="">

    </div>

    <div class="stage-two-layer" data-0="transform:scale(1) translate(-0%, 12%); transform-origin:0 100%;"
      data-1000="transform:scale(1) translate(-0%, 27%);">

      <img src="{{TimberImage(item.first_layer).src}}" alt="">

    </div>

    <div class="text-holder" data-0="transform:scale(1) translate(-50%, 0%);transform-origin:50% 50%;"
      data-1000="transform:scale(1) translate(-50%, 0%)">

      <div class="big-text">

        <div class="date">

          {{item.data}}

        </div>

        <h2>

          {{item.duzy_tekst}}

        </h2>

        <h4>

          {{item.maly_tekst}}

        </h4>

        {% if item.link_buttona %}

        <a href="{{item.link_buttona}}" class="btn btn-red">

          {{item.tekst_buttona}}

        </a>

        {% endif %}

      </div>

    </div>

  </div>

  {% endfor %}

</div>

<div class="video" data-1000="transform:translate(-0%, 100%);" data-1300="transform:translate(-0%, 0%);">

  <div class="media-container">

    <video id="video" preload="metadata" data-state="pause" style="display: block;" loop="loop" muted="muted"
      autoplay="autoplay">

      <source src="{{TimberImage(post.wideo_mp4).src}}" type="video/mp4" class="mp4">

      <source src="{{TimberImage(post.wideo_webm).src}}" type="video/webm" class="webm">

    </video>



    <div class="play-button" data-state="pause">

      <img src="{{ theme.link }}/dist/images/play.png" alt="">

    </div>

    <div class="go-lower">

      <span>zobacz więcej</span>

      <img src="{{ theme.link }}/dist/images/arrow-down.png" alt="">

    </div>

  </div>

</div>

<div class="blog-newsletter-bg" data-1300="transform:translate(-0%, 70%);" data-2900="transform:translate(-0%, -33%);">



  <img src="{{ TimberImage(post.tlo_bloga_newslettera).src | resize(1920, 0) }}" alt="">

</div>

<div class="blog" data-1900="transform:translate(-0%, 100%);" data-2900="transform:translate(-0%, -100%);">



  <div class="big-text" id="blogElements">

    <h3>{{post.tytul_nad_wpisami}}</h3>

  </div>



  {% include "parts/related.twig" %}



</div>

<div class="newsletter-signup" data-2400="transform:translate(-0%, 100%);" data-2900="transform:translate(-0%, 0%);">

  <div class="section-wrapper">

    <div class="text-holder">

      <h3>{{post.tytul_nad_formularzem}}</h3>

      <div class="newsletter-form-wrapper">

        {{ function('do_shortcode', '[mc4wp_form id="84"]') }}

      </div>

    </div>

  </div>

  {% include "parts/footer.twig" with {class:'frontpage'} %}



</div>

<div class="header" data-1000="margin-top:0px;opacity:1;" data-1300="margin-top:-30px;opacity:1;"
data-1900="margin-top:-30px;opacity:1;" data-2200="margin-top:-30px;opacity:0;">

  <a href="https://mitsubishi.pl" class="mitsu-logo">
    <img src="{{ theme.link }}/dist/images/white-bg.jpg" alt="">
  </a>

  <div class="logo" data-1000="margin-top:0px;width:140px;opacity:1;" data-1300="margin-top:30px;width:80px;opacity:1;"
    data-1900="margin-top:30px;width:80px;opacity:1;" data-2200="margin-top:30px;width:80px;opacity:0;">

    <img src="{{TimberImage(options.logo).src | resize(140,0)}}" alt="">

  </div>

  <div class="hamburger">
    <img src="{{ theme.link }}/dist/images/hamburger.png" alt="">
  </div>


  <div class="right">
    <nav class="menu">
        <ul class="header-menu">
            {% for item in main_nav.items %}
            <li class="nav-main-item {{ item.classes|join(' ') }}">
              <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="socials">
      {% for item in options.linki_do_social_mediow %}
      <a href="{{ item.link }}" class="single-social" target="_blank">
        <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
      </a>
      {% endfor %}
    </div>
  </div>


  <div class="mobile-menu">
      <nav class="menu">
          <ul class="header-menu">
              {% for item in main_nav.items %}
              <li class="nav-main-item {{ item.classes|join(' ') }}">
                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
              </li>
              {% endfor %}
          </ul>
          <span class="exit">
              &#10005;
            </span>
      </nav>
      <div class="socials">
        {% for item in options.linki_do_social_mediow %}
        <a href="{{ item.link }}" class="single-social" target="_blank">
          <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
        </a>
        {% endfor %}
      </div>
  </div>
</div>



<!-- <div class="logo dark"       

      data-1000="width:140px;opacity:0;"

      data-1300="width:80px;opacity:0;"

      data-1900="width:80px;opacity:0;"

      data-2200="width:80px;opacity:1;"

      >

  <img src="{{TimberImage(options.logo_ciemne).src | resize(140,0)}}" alt="">

</div> -->

{% endblock %}