{% extends "/layouts/base-mobile.twig" %}

{% block content %}
<div class="intro-elements" data-equalizer>
  {% for item in post.get_field('slider') %}
  <div class="single-element">
    <div class="bg-image">
      <img src="{{TimberImage(item.tlo).src}}" alt="">
    </div>
    <div class="stage-one-layer" data-aos="fade-up" data-aos-duration="1200">
      <img src="{{TimberImage(item.second_layer).src}}" alt="">
    </div>
    <div class="stage-two-layer" data-aos="fade-up" data-aos-duration="1200">
      <img src="{{TimberImage(item.first_layer).src}}" alt="">
    </div>
    <div class="text-holder">
      <div class="big-text" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200">
        <div class="date">
          {{item.data}}
        </div>
        <h2>
          {{item.duzy_tekst}}
        </h2>
        <h4>
          {{item.maly_tekst}}
        </h4>
        {% if item.link_buttona %}
        <a href="{{item.link_buttona}}" class="btn btn-red">
          {{item.tekst_buttona}}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  <img src="{{ theme.link }}/dist/images/arrow-down.png" alt="" class="go-lower">

</div>
<div class="video">
  <div class="media-container">
    <video id="video" preload="metadata" data-state="pause" style="display: block;" loop="loop">
      <source src="{{TimberImage(post.wideo_mp4).src}}" type="video/mp4" class="mp4">
      <source src="{{TimberImage(post.wideo_webm).src}}" type="video/webm" class="webm">
    </video>

    <div class="play-button" data-state="pause">
      <img src="{{ theme.link }}/dist/images/play.png" alt="">
    </div>
  </div>
  <div class="go-lower">
    <span>zobacz więcej</span>
    <img src="{{ theme.link }}/dist/images/arrow-down.png" alt="">
  </div>
</div>
<div class="blog-newsletter-bg" style="background-image:url({{ TimberImage(post.tlo_bloga_newslettera) }})">
  <div class="blog">

    <div class="big-text">
      <h3>{{post.tytul_nad_wpisami}}</h3>
    </div>

    {% include "parts/related.twig" %}

  </div>
  <div class="newsletter-signup">
    <div class="section-wrapper">
      <div class="text-holder">
        <h3>{{post.tytul_nad_formularzem}}</h3>
        <div class="newsletter-form-wrapper">
          {{ function('do_shortcode', '[mc4wp_form id="84"]') }}
        </div>
      </div>
    </div>
    {% include "parts/footer.twig" with {class:'frontpage'} %}

  </div>
</div>

<div class="header">

  <a href="https://mitsubishi.pl" class="mitsu-logo">
    <img src="{{ theme.link }}/dist/images/white-bg.jpg" alt="">
  </a>

  <div class="logo">

    <img src="{{TimberImage(options.logo).src | resize(140,0)}}" alt="">

  </div>

  <div class="hamburger">
    <img src="{{ theme.link }}/dist/images/hamburger.png" alt="">
  </div>
  

  <div class="mobile-menu">
    <nav class="menu">
      <ul class="header-menu">
        {% for item in main_nav.items %}
        <li class="nav-main-item {{ item.classes|join(' ') }}">
          <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <span class="exit">
        &#10005;
      </span>
    </nav>
    <div class="socials">
      {% for item in options.linki_do_social_mediow %}
      <a href="{{ item.link }}" class="single-social" target="_blank">
        <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<!-- <div class="logo dark">
  <img src="{{TimberImage(options.logo_ciemne).src | resize(140,0)}}" alt="">
</div> -->
{% endblock %}