{% extends "/layouts/base.twig" %}

{% block content %}

<div class="row" data-equalizer>
  	<div id="intro" data-0="transform:scale(.8);transform-origin:0 0;" data-500="transform:scale(1);">
        <h1><a href="https://github.com/Prinzhorn/skrollr">skrollr</a></h1>
        <h2>parallax scrolling for the masses</h2>
        <p>let's get scrollin' ;-)</p>
        <p class="arrows">▼&nbsp;▼&nbsp;▼</p>
      </div>
  {% for post in posts %}
  <div class="large-6 columns" data-equalizer-watch>
    <h2>{{ post.title }} :)</h2>
    {{ post.content }}
  </div>
  {% endfor %}
</div>
{% endblock %}
