{% extends "/layouts/base.twig" %}

{% block content %}
<style>
  html,
  body {
    overflow: initial !important;
  }
</style>
<div class="single-post">
  <div class="header static-black">

      <a href="https://mitsubishi.pl" class="mitsu-logo">
        <img src="{{ theme.link }}/dist/images/white-bg.jpg" alt="">
      </a>
    
      <a href="{{ site.url }}" class="logo">
    
        <img src="{{TimberImage(options.logo_ciemne).src | resize(140,0)}}" alt="">
    
      </a>
    
      <div class="hamburger">
        <img src="{{ theme.link }}/dist/images/hamburger.png" alt="">
      </div>

      <div class="right">
          <nav class="menu">
              <ul class="header-menu">
                  {% for item in main_nav.items %}
                  <li class="nav-main-item {{ item.classes|join(' ') }}">
                    <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                  </li>
                  {% endfor %}
              </ul>
          </nav>
          <div class="socials">
            {% for item in options.linki_do_social_mediow %}
            <a href="{{ item.link }}" class="single-social" target="_blank">
              <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
            </a>
            {% endfor %}
          </div>
        </div>
    
      <div class="mobile-menu">
        <nav class="menu">
          <ul class="header-menu">
            {% for item in main_nav.items %}
            <li class="nav-main-item {{ item.classes|join(' ') }}">
              <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <span class="exit">
            &#10005;
          </span>
        </nav>
        <div class="socials">
          {% for item in options.linki_do_social_mediow %}
          <a href="{{ item.link }}" class="single-social" target="_blank">
            <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="intro" style="background-image:url('{{TimberImage(post.zdjecie_pelna_kompozycja).src}}');background-size:cover;background-repeat:no-repeat;">
    <div class="bg-image" >
      <img src="{{TimberImage(post.zdjecie_pelna_kompozycja).src}}" alt="" style="opacity:0;">
    </div>
    <!-- <div class="stage-one-layer">
      <img src="{{TimberImage(post.second_layer).src}}" alt="">
    </div> -->
    <div class="blinder"></div>

    <div class="text-holder">
      <div class="date">
        {{post.date}}
      </div>
      <h2>
        {{post.title}}
      </h2>
      <div class="description">
        {{post.intro}}
      </div>
    </div>
  </div>
  <div class="socials-navigation container">
    <a href="{% if prev %} {{prev.link}} {% else %} {{ site.url }} {% endif %} " class="prev-next">WRÓĆ</a>

    <div class="socials">
      {% for item in options.linki_do_social_mediow %}
      <a href="{{ item.link }}" class="single-social" target="_blank">
        <img src="{{ TimberImage(item.ikona_ciemna).src | resize(32, 0) }}" alt="">
      </a>
      {% endfor %}
    </div>

    {% if next %}
    <a href="{{next.link}}" class="prev-next">NASTĘPNY</a>
    {% else %}
    <a href="" style="visibility:hidden" class="prev-next">NASTĘPNY</a>
    {% endif %}
  </div>

  <div class="post-content">
    {% for section in post.get_field('sekcje_tresci') %}
    {% include "parts/#{section.szablon}.twig" %}
    {% endfor %}
  </div>

  <div class="share">
    <span>Udostępnij:</span>
    {{ function('do_shortcode', '[addtoany]') }}

  </div>

  <div class="blog-newsletter-bg" style="background-image:url('{{ TimberImage(post.tlo_zapisu_do_newslettera) }}')">
    <div class="blog">
      <div class="big-text">
        <h3>Poznaj inne historie</h3>
      </div>
      {% include "parts/related.twig" %}
    </div>

    <div class="newsletter-signup">
      <div class="section-wrapper">
        <div class="text-holder">
          <h3>{{post.tytul_nad_formularzem}}</h3>
          <div class="newsletter-form-wrapper">
            {{ function('do_shortcode', '[mc4wp_form id="84"]') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "parts/footer.twig" %}


{% endblock %}