.intro-elements{
  width:100%;
  max-height:100vh;

  @media all and (max-width:1400px){
    height:100vh;
  }

  @media all and (max-width:1000px){
   min-height:max-content;
  }

  .single-element{
    width:100%;
    @media all and (max-width:1000px){
      position:relative;
      height:100%; 
      display:flex;
      align-items: flex-start;
      justify-content: center;
      min-height: max-content;
      padding-bottom: 40px;
     }

     @media all and (max-width:400px) and (max-height:850px){
      overflow: hidden;
     }

    div{
      width:100%;

      img{
        width:100%;
      }

      &.bg-image{
        height:100%;

        img{
          @media all and (max-width:1400px){
            min-width:100%;
            min-height:100%;
            width:auto;
            height:auto;
          }
        }

        @media all and (max-width:1000px){
          min-height: max-content;
          height: 100%;
          overflow:hidden;
          position: absolute;
        }
  
        img{
          width:100%;
            @media all and (max-width:1000px){
              min-width:100%;
              width:auto;
              height:130%;
              max-width:initial;
            }
  
        }
      }

      &.stage-one-layer{
        bottom:0;
        @media all and (max-width:1000px){
          position:absolute;
          bottom:0;
          left:0; 
         }
      }
      &.stage-two-layer{
        bottom:0;
        left:0;
        max-width:40%;
        @media all and (max-width:1000px){
          position:absolute;
          bottom:0;
          left:0;
         }
      }

      &.text-holder{
        width:600px;
        padding: 0 15px;
        color:white;
        left:50%;
        top:0;
        margin-top:190px;

        @media all and (max-width:1200px){
          margin-top:120px;
        }

        @media all and (max-width:1000px){
          margin-top:0; 
          z-index:9;
          margin-top:150px;
          height: calc(100% - 185px);
         }

         @media all and (max-width:660px){
          margin-top: 95px; 
          height: calc(100% - 130px);
         }


        .big-text{
          @media all and (max-width:1000px){
           display:flex;
           align-items:center;
           justify-content: center;
            flex-flow:column;
            height:100%;
          }

          .date{
            font-size:14px;
            text-align:center;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            margin-bottom:20px;
            position:relative;
            width:max-content;
            margin:20px auto;

            @media all and (max-width:1000px){
             margin-bottom:12px; 
            }

            @media all and (max-width:450px){

              margin-bottom:30px;
            }

            &:before{
              content:'';
              position:absolute;
              top:50%;
              left:-20px;
              transform:translate(-100%, -50%);
              background-color:#E60013;
              height:2px;
              width:100px;

              @media all and (max-width:800px){
                width:60px;
              }
            }

            &:after{
              content:'';
              position:absolute;
              top:50%;
              right:-20px;
              transform:translate(100%, -50%);
              background-color:#E60013;
              height:2px;
              width:100px;
              @media all and (max-width:800px){
                width:60px;
              }
            }
          }

          h2{
            font-size:90px;
            line-height: 90px;
            text-align:center;
            font-weight:900;
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            font-stretch: condensed;

            @media all and (max-width:800px){
              font-size:60px;
            line-height: 60px;

            }

            @media all and (max-width:450px){
              font-size:40px;
            line-height: 45px;

            }
          }

          h4{
            font-size:25px;
            font-weight:bold;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            font-stretch: condensed;
            text-align:center;
            margin: 20px 0 30px 0;

            @media all and (max-width:660px){
             margin-top:0;
            }
          }
        }

        a{
          margin-top:auto;
        }
      }
    }
  }

  .go-lower{
    display:none;
    @media all and (max-width:1000px){
     position:absolute;
     display:block; 
     max-width:28px;
     bottom:20px;
     left:50%;
     transform:translateX(-50%);
    }

    @media all and (max-width:1000px) and (orientation:landscape){
     display:none;
    }
  }
}

.video{
  width:100%;
  background:black;
  height:100vh;
  display: block;

  @media all and (max-width:1400px){
    top: 0;
  }
  
  @media all and (max-width:1000px){
    height:auto;
  }

  .media-container{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;

    @media all and (max-width:1000px){
      height:auto;
    }

    #video{
      min-width: 100%;
      min-height:100%;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
    }

    .play-button{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      z-index:999;
      cursor:pointer;
      transition-duration:.3s;

      &:hover{
        transform:translate(-50%, -50%) scale(1.1);
      }
      &:active{
        transform:translate(-50%, -50%) scale(.95);
      }

      &.hidden{
        display:none;
      }

      img {
        @media all and (max-width:1100px){
          max-height:70px;
        }
      }
    }

    #video{
      @media all and (max-width:1000px){
        position:initial;
        transform:translate(0);
        height:auto;
        width:100%;
      }
    }

    .go-lower{
      position:absolute;
      bottom:0;
      left:50%;
      padding-bottom:30px;
      transform:translate(-50%, 0%);
      z-index:999;
      display:flex;
      flex-flow:column;
      align-items:center;
      cursor:pointer;

      span{
        font-size: 12px;
        color:white;
        margin-bottom:5px;
        font-weight: normal;
      }

      img{
        width:28px;
      }
    }
  }
  >.go-lower{
    display:none;
    @media all and (max-width:1200px){
     display:block; 
     bottom:0;
     left:50%;
     padding-top:15px;
     padding-bottom:15px;
     z-index:999;
     display:flex;
     flex-flow:column;
     align-items:center;
     cursor:pointer;
     background:white;
     width:100%;

     span{
       font-size: 12px;
       color:black;
       margin-bottom:5px;
       font-weight: normal;

     }

     img{
       width:28px;
     filter:brightness(0);

     }
    }
  }
}

.blog{
  width:100%;
  min-height:100vh;
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content: center;
  @media all and (max-width:1400px){
    top: 0;
  }

  @media all and (max-width:1000px){
   min-height:initial; 
  }


  .big-text{
    margin:70px auto;
    margin-top:140px;
    width:100%;
    padding-top:60px;
    padding:60px 0;

    @media all and (max-width:1200px){
     margin-top:30px;
     max-width:100%; 
    }

    @media all and (max-width:800px){
      padding:0;
      margin-top:20px;
      margin-bottom:50px;
     }

     @media all and (max-width:620px){
      margin-top:15px;
     }
     @media all and (max-width:480px){
      margin-bottom:25px;
     }

    h3{
      color:#333333;
      font-weight: bold;
      font-stretch: condensed;
      line-height: 0.93;
      font-size: 110px;
      text-align:center;
      width:100%;
      max-width:900px;
      margin:0 auto;
      z-index:90;

      @media all and (max-width:1200px){
       font-size:90px; 
       padding:0 30px;
      }

      @media all and (max-width:800px){
        font-size:70px; 
       }

       @media all and (max-width:620px){
        font-size:55px; 
       }
       @media all and (max-width:480px){
        font-size:40px; 
       }
    }
  }

  .posts-holder{
    width:100%;
    display:flex;
    justify-content: center;
    flex-flow:row wrap;

    @media all and (max-width:800px){
      width:450px;
      margin:0 auto;
      max-width:100%;
      overflow-x:hidden;
    }

    .single-post-container{
      width:430px;
      height:430px;
      margin:10px;
      overflow:hidden;

      
      @media all and (max-width:1400px){
        height:300px;
        width:300px;
      }

      @media all and (max-width:1000px){
        height:430px;
      }
      @media all and (max-width:700px){
        height:300px;
      }
      @media all and (max-width:450px){
        height:230px;
      }
    }

    .single-post{
      position:relative;
      width:430px;
      height:430px;
      overflow:hidden;
      display:block;

      @media all and (max-width:1400px){
        width:300px;
        height:300px;
      }

      @media all and (max-width:1000px){
        width:430px;
        max-width:430px;
        height:430px;
        margin: 0 auto;
      }

      @media all and (max-width:700px){
        width:300px;
        max-width:300px;
        height:300px;
        margin: 0 auto;
      }
      @media all and (max-width:450px){
        width:230px;
        max-width:230px;
        height:230px;
      }

      .bg-image{
        position:absolute;
        transition: transform .4s linear;
        transform: scale(1.15);
      }

      .text{
        position:absolute;
        font-size:60px;
        color:white;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
        padding:0 15px;
        width:100%;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        text-align:center;
        line-height: 0.92;
        font-stretch: condensed;
        font-weight: bold;

        @media all and (max-width:1400px){
          font-size:36px;
        }

        @media all and (max-width:1060px){
          font-size:30px;
        }
      }

      .layer-one-image{
        position:absolute;
        width:100%;
        bottom:0;
        transition: transform .4s linear;
        transform: scale(1);

        img{
          width:430px; 
          
          @media all and (max-width:1400px){
            width:300px;
          }
    
          @media all and (max-width:1000px){
            width:430px;
           max-width:100%; 

          }
    
          @media all and (max-width:700px){
            width:300px;
          }
          @media all and (max-width:450px){
            width:230px;
          }
        }
      }

      &:hover{

        @media all and (min-width:800px){
        .bg-image{
          transform: scale(1);
        }
        .layer-one-image{
          transform: scale(1.12) translateY(30px);
        }
      }

      }
    }
  }
}

.newsletter-signup{
  height:100vh;
  width:100%;
  @media all and (max-width:1400px){
    top: 0;
  }

  .section-wrapper{
    width:100%;
    height:100%;
    position:relative;

    .text-holder{
      max-width:560px;
      padding:20px;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);

      @media all and (max-width:1060px){
        width:100%;
      }
      @media all and (max-width:660px){
        width:100%;
        max-width:calc(100% - 60px);
      }

      h3{
        font-size: 50px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1;
        color:white;
        text-align:center;
        @media all and (max-width:660px){
        font-size: 36px;

        }
      }

      .newsletter-input{
        margin-top:25px;

        input{
          background:transparent;
          border:1px solid;
          color:white;
          border-color:transparent;
          border-bottom-color:white;
          box-shadow:none;
          padding: 10px 0;
          font-size:16px;

        }

        ::placeholder{
          color:white;
          font-size:16px;
        }
      }

      .consent{
        margin-top:10px;
        margin-bottom:10px;

        &:last-of-type{
          margin-bottom:20px;
        }


        label{
          padding-left:20px;
          font-size: 10px;
          font-weight: 300;
          font-style: normal;
          font-stretch: condensed;
          line-height: normal;
          letter-spacing: normal;
          color:white;
          position:relative;

          &::before{
            content:'';
            margin-top:3px;
            width: 14px;
            height: 14px;
            border: solid 1px #ffffff;
            display:block;
            position: absolute;
            left: 0px;
            color:white;
            font-size: 18px;
            line-height: 11px;
          }

          .readmore{
            height:0;
            overflow:hidden;
            font-weight:inherit;

            a{
              color:white;
            }
          }
        }
        input{
          display:none;
          &:checked{
            &+label{
              &::before{
                content:'\2713';
              }
            }
          }
        }
      }

      .btn{
        @media all and (max-width:660px){
          width:100%;
        }
      }
    }
  }
} 

.blog-newsletter-bg{
  width:100%;
  height:max-content;
  @media all and (max-width:1400px){
    top: 0;

    img{
      max-width: initial;
    }
  }

  @media all and (max-width:1000px){
   background-repeat:no-repeat;
   background-size:cover;
  }
}