.single-post{


  .text{
    h3{
      font-size: 40px;
      font-weight: 900;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.13;
      letter-spacing: normal;
      color: #333333;
      margin-bottom:30px;

      @media all and (max-width:660px){
        font-size:30px;
        margin-bottom:10px;

      }

      *{
      font-weight: 900;

      }
    }

    h5{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      border-radius: 5px;
      display:block;
      width:max-content;
      padding:10px 20px;
      background-color: #e60013;
      margin-bottom:15px;
      margin-top:30px;
      max-width:100%;

      @media all and (max-width:660px){
        font-size:12px;
        margin-bottom:10px;
        margin-top:20px;

      }
    }

    p{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: 24px;
      letter-spacing: normal;
      color: #333333;
      margin:13px 0;

      @media all and (max-width:660px){
        font-size:14px;
        line-height:20px;
      }
    }
  }

  .logo{
    position:static;
    transform: translate(0);
    display:flex;
    justify-content:center;
    padding:25px;

    @media all and (max-width:660px){
      padding:15px;
    }

    img{
      max-height:90px;
      @media all and (max-width:1200px){
          max-height:70px;
      }
    }
  }

  .intro{
    width:100%;
    min-height:calc(100vh - 140px);
    overflow-y: hidden;
    position:relative;
    max-width:calc(100% - 60px);
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;

    @media all and (max-width:1600px){
      max-width:100% ;
    }

    @media all and (min-width:1920px){
      max-width:1920px;
      margin:0 auto;
      height:max-content;
      padding:50px 0;
    }

    .text-holder{
      z-index:2;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-flow:column;

      @media all and (max-width:1200px){
        padding:0 30px;
      }

      .date{
        color:white;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.43;
        position:relative;
        width:max-content;

        &:before{
          content:'';
          position:absolute;
          top:50%;
          left:-20px;
          transform:translate(-100%, -50%);
          background-color:#fff;
          height:2px;
          width:100px;
          @media all and (max-width:1200px){
            width:60px;
          }
        }

        &:after{
          content:'';
          position:absolute;
          top:50%;
          right:-20px;
          transform:translate(100%, -50%);
          background-color:#fff;
          height:2px;
          width:100px;
          @media all and (max-width:1200px){
            width:60px;
          }
        }
      }

      h2{
        font-size: 90px;
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.1;
        color:white;
        text-align:center;
        max-width:640px;
        margin-top:20px;

        @media all and (max-width:1200px){
          font-size:76px;
          line-height: 1.1;
        }

        @media all and (max-width:660px){
          font-size:42px;
        }
      }

      .description{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.38;
        color:white;
        text-align: center;
        max-width:420px;
        margin-top:20px;

        @media all and (max-width:660px){
          font-size:14px;
        }
      }

    }

    .bg-image{
      position:absolute;
      top:0;
      left:0;
      min-width:100%;
      width:100%;
      z-index:-1;
      @media all and (max-width:900px){
        min-height: 100%;
        height: 100%;
        overflow:hidden;
      }

      img{
        width:100%;
          @media all and (max-width:900px){
            min-width:100%;
            width:auto;
            height:130%;
            max-width:initial;
          }

      }
    }

    .stage-one-layer{
      position:absolute;
      bottom:0;
      left:0;
      min-width:100%;
      z-index:0;


      img{
        width:100%;
      }
    }

    .blinder{
      width:100%;
      height:100%;
      position:absolute;
      opacity: 0.5;
      background-color: #000000;
      object-fit: contain;
    }
  }

  .socials-navigation{
    padding:20px 0;
    border-bottom: 2px solid #f6f6f6;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    margin-bottom:50px;

    @media all and (max-width:1600px){
      max-width:calc(100% - 60px);
      margin:0 auto;
    }

    &.bottom{
     margin-top:25px;
    }

    a{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #333333;

      @media all and (max-width:1200px){
        font-size:14px;
      }
    }

    .socials{
      display:flex;
      margin: 0 auto;
      a{
        display:block;
        margin: 0 10px;
        img{
          max-height:20px;
        }
      }
    }
  }

  .post-content{
    max-width:1600px;
    margin:0 auto;
    .text-container{
      width:100%;
      display:flex;
      justify-content:center;
      margin:50px 0;

      .text-wrapper{
        width:700px;
        padding:0 30px;

        @media all and (max-width:700px){
          max-width:100%;
        }
      }
    }

    .image-text-wrapper{
      max-width:calc(100% - 60px);
      width:100%;
      display:flex;
      flex-flow:row nowrap;
      margin:50px auto;
      justify-content: center;
      align-items:center;

      @media all and (max-width:1100px){
        flex-flow:column-reverse wrap;
      }

      .image, .text{
        width:calc(50% - 10px);
        max-width:660px;

        &.text{
          margin-left:30px;
        }

        @media all and (max-width:1100px){
          width:100%;

          &.text{
            margin-left:0;
            width: 660px;
            max-width:100%;
            padding:0 30px;
            @media all and (max-width:660px){
              max-width:100%;
              padding:0;
            }
          }
        }
      }

      .image{
        .main-image{
          display:block;
          position:relative;

          .show_all{
            color:black;
            text-align:center;
            display:block;
            padding:10px;
            font-size:20px;
            width:100%;
          }

          .photo-counter{
            position:absolute;
            top:70px;
            left:30px;

            .count{
              background:$main-red;
              color:white;
              font-size:14px;
              width:20px;
              height:20px;
              border-radius:100%;
              display:flex;
              justify-content: center;
              align-items: center;
              position:absolute;
              top:0px;
              left:0px;
              transform:translate(-50%,-50%);
            }

            p{
              color:white;
              margin-top:5px;
              text-shadow: 2px 2px 6px rgba(0,0,0,1);
            }
          }
        }
      }

      &.right-gallery{
        flex-flow: row-reverse nowrap;

        @media all and (max-width:1100px){
          flex-flow:column-reverse wrap;
        }

        .image, .text{
  
          &.text{
            margin-left:0px;
          }

          &.image{
            margin-left:30px;

            @media all and (max-width:1100px){
              margin-left:0px;
            }
          }
        }
      }

    }

    ::-webkit-scrollbar {
      width: 0px;
      height:0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

    .images-wrapper{
      max-width:calc(100% - 60px);
      width:100%;
      display:flex;
      flex-flow:row nowrap;
      margin:25px auto;
      justify-content: space-between;



      @media all and (max-width:660px){
        width:max-content;
        overflow-x: scroll;
        margin:-30px auto;
        margin-bottom:-20px;
        max-width:calc(100% - 30px);
        margin-left:30px;
      }

      .column{
        max-width:calc(50% - 10px);
        min-width:240px;
        padding:0 10px;
        @media all and (max-width:660px){
          padding:0;
          margin:0 15px;
          &:first-of-type{
            margin-left:0;
          }
          &:last-of-type{
            img{
              margin-right:30px;
            }
          }
        }
      }
    }

    .video{
      margin:50px 0;
      @media all and (max-width:1200px){
        height:auto;
        margin-bottom:-70px;
        margin-top:30px;
      }

      .media-container{
        @media all and (max-width:1200px){
          height:auto;
        }

        .play-button{
          img{
            @media all and (max-width:1100px){
              max-height:70px;
            }
          }
        }
      
      #video{
        @media all and (max-width:1200px){
          position:initial;
          transform:translate(0);
          height:auto;
          width:100%;
        }
      }

      .go-lower{
        @media all and (max-width:1200px){
          display:none;
        }
      }


      }

      >.go-lower{
        display:none;
        @media all and (max-width:1200px){
         display:block; 
         bottom:0;
         left:50%;
         padding-top:15px;
         padding-bottom:15px;
         z-index:999;
         display:flex;
         flex-flow:column;
         align-items:center;
         cursor:pointer;
         background:white;
         width:100%;
   
         span{
           font-size: 12px;
           color:black;
           margin-bottom:5px;
           font-weight: normal;

         }
   
         img{
           width:28px;
         filter:brightness(0);

         }
        }
      }
    }
  }

  .blog{
    min-height:initial;
    .big-text{
      margin-top:0;
      margin-bottom:50px;

      @media all and (max-width:1200px){
      margin-bottom:0px;
      }
      h3{
        font-size:70px;

        @media all and (max-width:1200px){
          padding:0 30px;
          font-size:50px;
        }

        @media all and (max-width:660px){
          font-size:40px;
        }
      }
    } 
  } 

  .blog-newsletter-bg{
    background-repeat:no-repeat;
    background-size:cover;
  }

  .share{
    display:flex;
    justify-content: center;
    align-items:center;

    @media all and (max-width:1200px){
     margin-bottom:30px; 
    }

    >span{
        margin-right:10px;
    }
  }
}
