{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <script src="{{ theme.link }}/assets/js/lib/aos.js"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PMCL7V');</script>
    <!-- End Google Tag Manager -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ theme.link }}/dist/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ theme.link }}/dist/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ theme.link }}/dist/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ theme.link }}/dist/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ theme.link }}/dist/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ theme.link }}/dist/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ theme.link }}/dist/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ theme.link }}/dist/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/dist/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ theme.link }}/dist/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ theme.link }}/dist/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/dist/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ theme.link }}/dist/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="{{ theme.link }}/dist/images/ogimage.png">
    <meta property="og:image:secure_url" content="{{ theme.link }}/dist/images/ogimage.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  {{ function( 'wp_head' ) }}
  <script src="{{ theme.link }}/assets/js/lib/skrollr.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  
</head>
<body {{ function( 'body_class' ) }}>
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMCL7V"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}
  {% block content %}
{% endblock %}

{% block footer %}
  {{ function( 'wp_footer' ) }}
  </body>
</html>
{% endblock %}
