html{
  scroll-behavior: smooth;
}
body *{
  font-family: 'Roboto', sans-serif;
  font-weight:500;

}
body{
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: 'Roboto', sans-serif;    
  }

  @media all and (max-width:1000px){
   position:relative; 
  }

  *{
    outline:none;
  }

  .container{
    width:1272px;
    padding:0 15px;
    margin:0 auto;


    @media all and (max-width:1302px){
      max-width:100%;
    }

    &.nopadding{
      padding:0;
    }
  }

  ul.zeroed, ol.zeroed{
    padding:0;
    margin:0;
    list-style:none;

    li{
      margin:0;
      padding:0;
      list-style:none;
    }
  }
}

.p{
  &-50{
    padding:50px;
  }
  &-100{
    padding:100px;
  }
  &-150{
    padding:150px;
  }
}


.pb{
  &-20{
    padding-bottom:20px;
  }
  &-30{
    padding-bottom:30px;
  }
  &-50{
    padding-bottom:50px;
  }
  &-100{
    padding-bottom:100px;
  }
  &-150{
    padding-bottom:150px;
  }
}

.pbt{
  &-50{
    padding:50px 0;
  }
  &-100{
    padding:100px 0;
  }
  &-150{
    padding:150px 0;
  }
}

.plr{
  &-50{
    padding:0 50px;
  }
  &-100{
    padding:0 100px;
  }
  &-150{
    padding:0 150px;
  }
}

.pt{
  &-30{
    padding-top:30px;
  }
  &-50{
    padding-top:50px;
  }
  &-100{
    padding-top:100px;
  }
  &-150{
    padding-top:150px;
  }
}


.pl{
  &-30{
    padding-left:30px;
  }
  &-50{
    padding-left:50px;
  }
  &-100{
    padding-left:100px;
  }
  &-150{
    padding-left:150px;
  }
}

.pr{
  &-30{
    padding-right:30px;
  }
  &-50{
    padding-right:50px;
  }
  &-100{
    padding-right:100px;
  }
  &-150{
    padding-right:150px;
  }
}


//animations
@keyframes left-to-right{
  49%{-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
  50%{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0)}51%{opacity:1}}




// zmienne
$text-grey: #3d312c;
$main-red: #E60013  ;
$main-green: #118f09  ;

.btn{
  background: $main-green;
  padding:13px 58px;
  color:white;
  font-size:16px;
  display:block;
  margin:0 auto;
  border-radius: 25px;
  transition-duration: .3s;
  width:max-content;
  border:none;

  &.btn-red{
    background: $main-red;

  &:hover{
    background: white;
    color:$main-red;
  }

  }

  @media all and (max-width: 1100px){
    font-size:16px;
  }

  &.btn-image{
    overflow-x:hidden;

    img{
      margin-left:10px;
    }

    &:hover{
      img{
        animation: left-to-right 0.5s forwards;
      }
    }
  }

  &.btn-white{
    background: white;
    color:$main-green;
    border:1px solid white;


    &:hover{
      color: $main-green;
    }
    &:visited{
      color: $main-green;
    }

  }

  &.green-border{
    background:transparent;
    color:$main-green;
    font-weight: 500;
    text-align: center;

    &:hover{
      color: white!important;
      background: $main-green;
    }
  
    &:visited{
      color:$main-green;
    }
    &:active{
      transform:scale(0.95);
      color: $main-green;
    }
  }

  &:hover{
    color: white;
  }

  &:visited{
    color:white;
  }
  &:active{
    transform:scale(0.95);
    color: white;
  }
}


.navi-holder{
  width:100%;
  padding-top:50px;

  .wp-pagenavi{
    padding-bottom:25px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;

    .pages{
      display: none;
    }
  
    span, a{
      padding:12px 20px;
      border-radius:21px;
      font-size:18px;
      line-height: 10px;
      transition-duration: .5s;
  
      &.current{
        color:white;
      }
  
      &.nextpostslink {
        color:white;
        padding-right:40px;
        background-repeat: no-repeat;
        background-position:right 10px  center ;
      }

      &.previouspostslink {
        color:white;
        padding-left:40px;
        background-repeat: no-repeat;
        background-position:10px  center ;
  
      }
    }
  
    a{
      &:hover{
        color:white;
      }
    }

    &.green{

      span, a{
        border-color:$main-green;
        color: $main-green;


        &.current{
          color:white;
          background: $main-green;
        }
    
        &.nextpostslink {
          color:$main-green;
          background-image:url(../images/right-green.png);

        }
  
        &.previouspostslink {
          color:$main-green;
          background-image:url(../images/left-green.png);   
        }
      }
    
      a{
        &:hover{
          color:white;
          background-color:rgba(17, 143, 9, 0.55)
        }
      }

    }
    &.orange{

      span, a{
        border-color:$main-red;
        color: $main-red;


        &.current{
          color:white;
          background: $main-red;
        }
    
        &.nextpostslink {
          color:$main-red;
          background-image:url(../images/right-red.png);

        }
  
        &.previouspostslink {
          color:$main-red;
          background-image:url(../images/left-red.png);   
        }
      }
    
      a{
        &:hover{
          color:white;
          background-color:rgba(240, 95, 29, 0.55)
        }
      }

    }
  }
}

/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */


 html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
  overflow-x:hidden;
  
  &.single-post{
  overflow:initial;

  }
}

#skrollr-body{
  width:100%;
  height:2900px;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}




.logo{
  position:fixed;
  left:50%;
  top:0px;
  transform:translate(-50%,0);
  z-index:999999;
  cursor:pointer;

  @media all and (max-width:1200px){
    margin-top:0!important; 
   }


  img{
    @media all and (max-width:1200px){
      max-height:86px;
      margin:0 auto;
      display:block;
    }
  }
}

.header{
  max-width: 1600px;
  left:50%;
  top:30px;
  transform:translate(-50%,0);
  position:fixed;
  margin: 0 auto;
  width:100%;
  display:flex;
  z-index: 999999;
  justify-content: space-between;

  @media all and (max-width:1600px){
    max-width:100%;
    padding:0 30px;
  }

  @media all and (max-width:1200px){
   margin-top:0!important; 
  }

  @media all and  (max-width: 800px){
    position:absolute;
  }

  @media all and (max-width:660px){
    top:0;
  }


  .mitsu-logo{
    margin-top:70px;
    transform:translateY(-50%);

    @media all and (max-width:1200px){
     margin-top:38px; 
    }

    @media all and (max-width:660px){
     margin-top:55px; 
    }

    img{
      max-height:85px;
      padding:10px;
      background:white;

      @media all and  (max-width: 800px){
        max-height:50px;

      }
    }
  }

  img{
    margin:0 auto;
  }

  .hamburger{
    display:none;
    color:white; 
    font-weight:bold;
    margin-top:60px; 
    transform: translateY(-50%);
    cursor:pointer;

    @media all and (max-width:1100px){
     display:block;
    }

    @media all and (max-width:800px){
     margin-top:50px; 
    }

    @media all and (max-width:660px){
     margin-top:65px; 
    }
  }

  .mobile-menu{
    position:fixed;
    right:0;
    top:-30px;
    background:white;
    height:100vh;
    min-width:240px;
    box-shadow: -5px 0px 20px rgba(0,0,0,.7); 
    margin-top:0;
    display:flex;
    padding:40px 30px;
    flex-flow:column;
    align-items: center;
    transition-duration: .6s;
    transform:translateX(110%);
    z-index:99999999;
    display:none;

    @media all and (max-width:1100px){
      display:block;
     }



    &.visible{
      transform:translateX(0);
    }

    .menu{
      margin-top:20px;
      margin-right:auto;
      position:relative;
      width:100%;

      .exit{
        position:absolute;
        right:0;
        font-size:20px;
    cursor:pointer;
    user-select:none;

      }

      ul{
        position:relative;
        display:flex;
        flex-flow: column;
        list-style-type: none;
        margin:0;
        padding:0;

        li{
          margin:5px 0;
          padding:0;

          a{
            color:#333333;
            padding:0;
            font-size:14px;
            transition-duration:.3s;

            &:hover{
              text-shadow:3px 3px 4px rgba(0,0,0,.2);
            }
          }
        }
      }
    }

    .socials{
      display:flex;
      align-items:center;
      margin-top:30px;

      a{
        margin:0 5px;

        img{
          max-height:32px;
          padding:5px;
          transition-duration:.3s;

          &:hover{
            filter:drop-shadow(3px 3px 2px rgba(0,0,0,.4));
          }
        }
      }
    }
   }

  .right{
    display:flex;
    align-items:center;
    margin-top:70px;
    transform:translateY(-50%);

    @media all and (max-width:1200px){
      margin-top:38px; 
     }

     @media all and (max-width:1100px){
      display:none; 
     }



    .menu{
      margin-right:20px;
      ul{
        position:relative;
        display:flex;
        list-style-type: none;
        margin:0;
        padding:0;

        &::after{
          position:absolute;
          right:0;
          top:50%;
          transform:translate(0, -50%);
          content:"";
          height:15px;
          width:1px;
          background: white;
        }

        li{
          margin:0;
          padding:0;
          padding-right:20px;

          a{
            color:white;
            padding:0;
            font-size:14px;
            transition-duration:.3s;

            &:hover{
              text-shadow:3px 3px 4px rgba(0,0,0,.8);
            }
          }
        }
      }
    }


    .socials{
      display:flex;
      align-items:center;

      a{
        margin:0 5px;

        img{
          max-height:32px;
          padding:5px;
          filter:brightness(500%);
          transition-duration:.3s;

          &:hover{
            filter:brightness(500%) drop-shadow(3px 3px 4px rgba(0,0,0,.8));
          }
        }
      }
    }
  }

  &.static-black{
    position:relative;
    top:0;
    transform: translate(0);
    left:0;
    display:flex;
    align-items:center;
    overflow:hidden;
    min-height:140px;
    @media all and (max-width:1200px){
    min-height:120px;
    }

    @media all and (max-width:800px){
     overflow:visible; 
    }

    .right{
      margin-top:35px;

    }

    .hamburger{
      filter: brightness(0);
      margin-top: 0;
      transform: translateY(0);
    }

    .logo{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
    }

    .mitsu-logo{
      margin-top:0;
      transform:translateY(0);
    }

    .menu{
      ul{
        &::after{
          background: black;
        }

        li{
          a{
            color:black;
            &:hover{
              text-shadow:3px 3px 4px rgba(0,0,0,.2);
            }
          }
        }
      }
    }

    .socials{
      a{
        img{
          filter:brightness(0%);
          &:hover{
            filter:brightness(0%) drop-shadow(3px 3px 4px rgba(0,0,0,.2));
          }
        }
      }
    }
  }
}

.home .logo{
  @media all and (max-width:1000px){
   position:absolute; 
  }

  @media all and (max-width:660px){
   top:20px;
   
   img{
     max-height:75px;
   }
  }
}

.mobile-visible{
  display:none;
  @media all and (max-width:1100px){
    display:block;
  }
}

.desktop-visible{
  display:block;  
  @media all and (max-width:1100px){
    display:none;
  }
}

.footer{
  background:#000;
  padding:25px 0;
  bottom:0;
  width:100%;
  

  a{
    img{
      max-height: 50px;
    margin-right:20px;

    @media all and (max-width:444px){
    margin-bottom:20px;
     
    }

    }
  }

  @media all and (max-width:660px){
    padding:15px 0;
  }

  &.frontpage{
    position: absolute;

    @media all and (max-width:1000px){
     position:initial; 
    }

  }
  .container{
    justify-content:space-between;
    display: flex;
    align-items:center;

    @media all and (max-width:1100px){
      flex-flow:column-reverse;
    }
  }

  .left{
    color:white;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    display: flex;
    align-items: center;

    @media all and (max-width:900px){
     flex-flow:row wrap; 
     justify-content: center;
    }


    a{
      color:white;
      display:inline-block;
      margin:0 5px;

      &:nth-child(2){
        margin-left:40px;
      }

      @media all and (max-width:900px){
        &:nth-child(2), &:nth-child(3){
          width:50%;
          display:inline-block;
          margin:0;
          &:nth-child(2){
            text-align: right;
            padding:15px;

          }
          &:nth-child(3){
            text-align: left;
            padding:15px;
          }
        }
      }
    }

    @media all and (max-width:660px){
      font-size:10px;
      margin-top:25px;
    }
  }

  .socials{
    display:flex;
    align-items:center;

    a{
      margin:0 5px;

      img{
        max-height:32px;
        padding:5px;
      }
    }
  }
}

@import 'parts/front-page';
@import 'parts/single';
@import 'parts/lightbox';
@import 'parts/slick';
@import 'parts/aos';

.slick-dots{
  bottom:20px;
  list-style-type:none;
  display:flex;
  

    li{
      width:29px;
      height:14px;

      &.slick-active{
        button{
          background: $main-red;
        }
      }
       
     button{
      border-radius:100%;
      background: white;
      width:14px;
      height:14px;
      font-size:0;

      &:before{
        display: none;
      }
    }
  }
}

.mc4wp-alert, .mc4wp-response{
  color:white!important;
} 

.a2a_dd.addtoany_share_save.addtoany_share{
  display:none;
}

.addtoany_list{
  display:flex;
  justify-content: center;
  margin:0 auto;

  a{
    span{
      background-color:rgb(51,51,51);
    }
  }
}
